.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #52d0ff99;
  text-align: center;
  font-weight: lighter;
  font-size: 3vw;
  padding: 4%;
}

.form-title {
  font-size: 3rem;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 20px;
}

.form-inputs input {
  border-radius: 3px;
  border: 1px solid #000000;
  font-size: 0.6em;
  padding: 10px;
}

.email-input {
  width: 70%;
}

.signup-button {
  margin: 0 2px;
  width: 30%;
  background: #000000;
  color: #fff;
}

.signup-button:hover {
  color: #fff;
  background: #ffa29c;
}

@media screen and (max-width: 375px) {
  .form-inputs {
    width: 80%;
  }
}
