.landing-page {
  background: linear-gradient(
      to bottom right,
      rgba(177, 252, 190, 0.6),
      rgba(82, 208, 255, 0.6),
      rgba(255, 162, 156, 0.6)
    ),
    url("https://images.jacobinmag.com/2014/11/17001408/12459375745_765fe7e151_k-1.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100vh;
}

.nav-arrow {
  color: rgb(177, 252, 190);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  bottom: 10px;
  position: absolute;
}
.nav-arrow:hover {
  color: rgb(116, 194, 129);
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.app-flex-title {
  font-weight: 900;
}

.giv-title {
  font-size: 7em;
  color: #fff;
  text-align: center;
}

.giv-slogan {
  margin: 0 0 200px 0;
  font-size: 3rem;
}

@media screen and (max-width: 375px) {
  .landing-page {
    background-position: center center;
  }

  .giv-slogan {
    display: none;
  }
}
