.partner-wrapper {
  background-color: #fff;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  font-size: 3vw;
}

.partner-wrapper header {
  padding: 2%;
}

.images {
  height: auto;
  width: 100%;
  padding: 1%;
}

.partner-wrapper img {
  height: auto;
  width: 40%;
}

#non-profit-img {
}
