.why-page {
  background: #b1fcbe;
}

.why-content {
  padding: 40px;
}

.why-title {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.why-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.why-card {
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  width: 25%;
  padding: 20px;
  opacity: 0.9;
}

.why-card:hover {
  opacity: 1;
  transform: scale(1.02);
}

.card-title {
  font-size: 2em;
  text-align: center;
  margin: 5px 0 5px 0;
}

.card-img {
  align-self: center;
  margin: 0 0 10px 0;
}

.card-description {
  align-self: center;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  /*768px is the difference between phone and tablet generally*/
  .why-cards {
    flex-direction: column;
  }

  .why-card {
    margin: 10px 0;
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  /*768px is the difference between phone and tablet generally*/
  .why-card {
    height: 400px;
    width: 27%;
    margin: 5px;
  }
}
